.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 25vw;

  & button {
    border: none;
    width: 50%;
    transition: background-color 250ms linear, color 250ms linear;

    &:hover {
      color: #fff;
      background-color: #d14444;
    }
    &:focus {
      color: #fff;
      background-color: #d14444;
    }
  }
}

.form-input {
  border: 2px solid #008080;
  width: 100%;
  height: 2rem;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #b0e0e680;
  }
  &:focus {
    background-color: #b0e0e680;
    outline: none;
  }
}

.wrapper {
  display: flex;
  width: 100%;
}
